<!-- <div> -->
    <a href="index.html" title="Retour accueil"><img src="assets/img/logo-gridcommerce-light.svg" alt="Grid Commerce logo" width="50" height="50"></a>
    <form>
        <label for="search">
            <span>Search product</span>
        </label>
        <input id="search" type="text" placeholder="Search product">
        <input class="button" type="button" value="Search">
      </form>
    <ul>
        <li> <a href="#" title="Connexion / Votre compte"><i class="fa fa-user"></i></a></li>
        <li><a href="checkout.html" title="Votre panier"
            ><i class="fa fa-shopping-cart"></i
          ></a></li>
    </ul>
<!-- </div> -->
<nav>
    <ul>
        <li><a href="category.html">link</a>
            <ul>
                <li><a href="category.html">Lorem ipsum dolor sit.</a></li>
                <li><a href="category.html">Cupiditate ea asperiores possimus.</a></li>
                <li><a href="category.html">Odio quidem quod delectus!</a></li>
                <li><a href="category.html">Officiis aperiam suscipit laboriosam.</a></li>
                <li><a href="category.html">Inventore quas ex in.</a></li>
                <li><a href="category.html">Saepe, similique! Ut, voluptate.</a></li>
            </ul>
        </li>
        <li><a href="category.html">link</a>
            <ul>
                <li><a href="category.html">Lorem ipsum dolor sit.</a></li>
                <li><a href="category.html">Cupiditate ea asperiores possimus.</a></li>
                <li><a href="category.html">Odio quidem quod delectus!</a></li>
                <li><a href="category.html">Officiis aperiam suscipit laboriosam.</a></li>
                <li><a href="category.html">Inventore quas ex in.</a></li>
                <li><a href="category.html">Saepe, similique! Ut, voluptate.</a></li>
            </ul>
        </li>
        <li><a href="category.html">link</a>
            <ul>
                <li><a href="category.html">Lorem ipsum dolor sit.</a></li>
                <li><a href="category.html">Cupiditate ea asperiores possimus.</a></li>
                <li><a href="category.html">Odio quidem quod delectus!</a></li>
                <li><a href="category.html">Officiis aperiam suscipit laboriosam.</a></li>
                <li><a href="category.html">Inventore quas ex in.</a></li>
                <li><a href="category.html">Saepe, similique! Ut, voluptate.</a></li>
            </ul>
        </li>
        <li><a href="category.html">link</a>
            <ul>
                <li><a href="category.html">Lorem ipsum dolor sit.</a></li>
                <li><a href="category.html">Cupiditate ea asperiores possimus.</a></li>
                <li><a href="category.html">Odio quidem quod delectus!</a></li>
                <li><a href="category.html">Officiis aperiam suscipit laboriosam.</a></li>
                <li><a href="category.html">Inventore quas ex in.</a></li>
                <li><a href="category.html">Saepe, similique! Ut, voluptate.</a></li>
            </ul>
        </li>
    </ul>
</nav>