<form action="/signup" method="POST" id="signup">
    <h2>Create your account</h2>
    <fieldset>
        <label for="firstname">Firstname</label>
    <input type="text" name="firstname" id="firstname">
    </fieldset>
    <fieldset>
        <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="lastname">
    </fieldset>
    <fieldset>
        <label for="emailsignup">email</label>
    <input type="email" name="emailsignup" id="emailsignup" required>
    </fieldset>
    <fieldset>
        <label for="passwordsignup">Password</label>
    <input type="password" name="passwordsignup" id="passwordsignup" required>
    <label for="confirmPassword">Confirm password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required>
    <p class="small">Password muste be at least <strong>12 characters </strong>long, with at least <strong>1 uppercase</strong>, <strong>1 lowercase</strong> and <strong>1 special character</strong>.</p>
</fieldset>
    <fieldset>
        <label for="conditions">Accept terms and conditions</label>
    <input type="checkbox" name="conditions" id="conditions" required>
    </fieldset>
    <button class="valid">Create account</button>
</form>