<form action="/login" method="POST" id="signin" class="active">

    <fieldset class="nano">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
    </fieldset>
    <fieldset class="nano">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

    </fieldset>

    <button class="valid">Login</button>
    <a href="forgot_password">Forgot password ?</a>
</form>