<footer>
    <address>
        <!-- <img src="assets/img/logo-gridcommerce-light.svg" alt="Grid Commerce Logo" width="50" height="50"> -->
        Grid Commerce<br>
        boilerplate ecommerce layout<br>
        42 Archibald Tuttle Blvd.<br>
        80085 Zaphod-Beeblebrox<br>
        <a href="mailto:@contact@gridcommerce.com" title="send us an email">contact@gridcommerce.fake</a><br>
        <a href="tel:+33555555555">05 555 555</a>
    </address>
    <ul>
        <li><a href="">Lorem, ipsum dolor.</a></li>
        <li><a href="">Enim, sunt fuga.</a></li>
        <li><a href="">Ipsam, fugit aliquam?</a></li>
        <li><a href="">Est, numquam praesentium!</a></li>
    </ul>
    <ul>
        <li><a href="">Lorem, ipsum dolor.</a></li>
        <li><a href="">Aspernatur, expedita pariatur?</a></li>
        <li><a href="">Enim, sunt fuga</a></li>
        <li><img src="/img/W3C_valid.svg.png" alt="W3C Validated" width="75"></li>
    </ul>
</footer>
</body>
</html>