<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="index.html" title="Retour accueil"><img src="assets/img/logo-gridcommerce-light.svg" alt="Grid Commerce logo" width="50" height="50"></a>
    <form>
        <label for="search">
            <span>Search product</span>
        </label>
        <input id="search" type="text" placeholder="Search product">
        <input class="button" type="button" value="Search">
      </form>
    <ul>
        <li> <a href="#" title="Connexion / Votre compte"><i class="fa fa-user"></i></a></li>
        <li><a href="checkout.html" title="Votre panier"
            ><i class="fa fa-shopping-cart"></i
          ></a></li>
    </ul>
<!-- </div> -->
<nav>
    <ul>
        <% locals.categories.forEach((category)=>{%>
<li><a href="category/<%= category.name.replace(' ','-') %>"><%= category.name %></a></li>
            
        <%})%>
    </ul>
</nav>
    </header>
    
