<aside id="minicart" class="pad">
    <div class="flexcol">
        <h4>Your cart</h4>
        <div class="flexcol s12 m12 l12">
            <div>
                <img src="/img/-200W.jpg" alt="alt">
                <p>
                   product
                </p>
                <span>x 10</span>
                <button data-idProduct="idprod"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        
        <div class="flexcol">
            <span>Total :XX € </span>
            <a href="/checkout">Place order</a>
           
                <span>Your cart is empty !</span> 
             
    </div>

</aside>