<ul class="rassurance">
    <li><i class="fa far fa-credit-card"></i>Secure payment</li>
    <li><i class="fa far fa-truck"></i>Express delivery</li>
    <li><i class="fa far far fa-clock"></i>14 days moneyback warranty</li>
    <li><i class="fa far far fa-comments"></i>Online support</li>
  </ul>