/* Forms */
input[name="product-qty"] {
    width: 50px;
}

input {
    background-color: var(--grey);
    border: solid 2px var(--dark);
    border-radius: 2px;
    line-height: 1.7;
}

iframe[name="cartReturn"] {
    position: fixed;
    top: 0;
    z-index: 9;
}

footer {
    background-color: var(--color1);
    display: flex;
    grid-column: 1 / -1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--mainpadding);
    padding: calc(var(--mainpadding) * 2) var(--mainpadding);
}

td,
th {
    padding: calc(var(--mainpadding) / 2);
    font-size: 14px;
}

.half-screen>div {
    padding: var(--mainpadding);
}

.half-screen::after {
    content: "";
    flex-basis: 49%;
    background-color: var(--color2);
    background-image: url('../img/backgrounds/gems-2.webp');
    background-size: cover;
    background-blend-mode: luminosity;
}

/* MINICART */
/* body{
    overflow-x: hidden;
} */
body.noscroll {
    position: fixed !important;
    width: 100%;
}

.cart-toggler {
    cursor: pointer;
}

#minicart {
    background-color: #fff;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    float: right;
    width: 400px;
    max-width: 100vw;
    height: 100%;
    border-left: solid 2px var(--color1);
    transform: translateX(100%);
    transition: all ease-out .3s;
    /* display: none; */
}

#minicart.active {
    transform: translateX(0);
    transition: all ease-out .3s;
    /* display: block; */
}

#minicart #cart-content div:has(>input) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

#cart-content input {
    flex-basis: 50px;
    flex-grow: 0;
    width: 50px;
}

#cart-content .card {
    align-items: center;
}

#cart-content .card button {
    align-self: stretch;
}

#overlay {
    background-color: #000;
    opacity: .9;
    z-index: 8;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    left: 0
}

body.noscroll #overlay {
    display: block;
}

.readmore {
    max-height: 80vh;
    overflow: hidden;
}