/* Forms */
input[name="product-qty"]{
    width:50px;
}
input{
    background-color:var(--grey) ;
    border:solid 2px var(--dark);
    border-radius:2px;
    line-height: 1.7;
}
iframe[name="cartReturn"]{
    position:fixed;
    top:0;
    z-index: 9;
}

footer{
    background-color: var(--color1);
    display:flex;
    grid-column: 1 / -1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:var(--mainpadding);
    padding: calc(var(--mainpadding) * 2) var(--mainpadding);
}
td, th{
    padding:calc(var(--mainpadding) / 2);
    font-size:14px;
}

.half-screen > div{
    padding:var(--mainpadding);
}
.half-screen::after{
    content : "";
    flex-basis:49%;
    background-color: var(--color2);
    background-image:url('../img/office-background.jpg');
    background-size: cover;
    background-blend-mode: multiply;
}

/* MINICART */
/* body{
    overflow-x: hidden;
} */
body.noscroll {
    position: fixed!important;
    width:100%;
}
.cart-toggler{
    cursor: pointer;
}
#minicart{
    background-color:#fff;
    position:absolute;
    z-index: 9;
    top:0;
    right:0;
    float:right;
    width:400px;
    max-width: 100vw;
    height:100%;
    border-left:solid 2px var(--color1);
    transform: translateX(100%);
    transition: all ease-out .3s;
    display:none;
}
#minicart.active{
    transform: translateX(0);
    transition: all ease-out .3s;
    display:block;
}
#overlay{
    background-color:#000;
    opacity:.9;
    z-index: 8;
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    display:none;
    backdrop-filter: blur(10px);
}
body.noscroll #overlay{
    display:block;
}
.rassurance .fa{color:var(--color2);margin-right: var(--mainpadding);font-size: 1.2rem;}