/* Forms */
input[name="product-qty"]{
    width:50px;
}
iframe[name="cartReturn"]{
    position:fixed;
    top:0;
    z-index: 9;
}
header > ul >li:last-child > div{
    background-color:#fff;
    border:solid 2px var(--color1);
    border-right:0;
    color:#000;
    /* padding:calc(var(--mainpadding) / 2) 0; */
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 9;
    right:0;
    max-height:0;
    overflow:hidden;
    transition:all ease-out .3s;
}
header > ul >li:last-child:hover > div{
    min-height:50px;
    max-height:80vh;
    overflow-y:auto;
    transition:all ease-out .3s;
}
header > ul >li:last-child > div article{
    padding:calc(var(--mainpadding) / 2);
    display:flex;
    gap:calc(var(--mainpadding) / 2);
    justify-content: flex-start;
}
header > ul >li:last-child > div article > span{
    text-align:right;
}
td{
    padding:calc(var(--mainpadding) / 2);
    font-size:14px;
}