header {
    background-color: var(--color1);
    padding: calc(var(--mainpadding) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -75px;
    z-index: 9;
    /* grid-row: 1/2; */
    grid-column: 1/-1;
    /* -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.5); */
}

header>* {
    background-color: var(--color1);
}

header a {
    color: #fff;
}

header>ul {
    display: flex;
    gap: calc(var(--mainpadding) / 2);
    color: #fff;
}

header a[href="index.html"]:first-of-type {
    display: flex;
    gap: calc(var(--mainpadding) / 2);
    justify-content: space-between;
    align-items: center;
}

header a[href="index.html"]:first-of-type::after {
    content: "Grid Commerce";
    font-size: var(--siteTitleFontSize);

}

header>form>input {
    display: var(--searcFormDisplay);
}

header nav {
    flex-basis: 100%;
    text-align: center;
}

header nav>ul {
    display: flex;
    flex-direction: var(--headerNavDirection);
    justify-content: center;
}

header nav>ul>li {
    background-color: var(--color1);
    overflow: hidden;

}

header nav>ul>li>a {
    padding: calc(var(--mainpadding) / 2) var(--mainpadding);
    line-height: 1;
    display: block;
}

header nav>ul>li>ul {
    position: absolute;
    margin-top: -100%;
    z-index: -1;
    left: 0;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 60px;
}

header nav>ul>li:hover>ul {
    margin-top: 0;
    z-index: 1;
}

header dotlottie-player {
    margin-top: -30px;
}

header a:has(.site-name) {
    display: flex;
    align-items: center;
}

#breadcrumb {
    display: flex;
    position: relative;
    z-index: -1;
}

#breadcrumb li {
    padding: 5px 10px;
    background-color: #ddd;
}

#breadcrumb::after {
    content: "";

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 26px 26px 0 0;
    border-color: #ddd transparent transparent transparent;
    transform: rotate(0deg);

}

/* header nav>ul>li>ul::after {
    content: " ";
    display: var(--subnavAfterDisplay);
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left:0;
    z-index: -1;
    transform-origin: top left;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
    transition: var(--transition);
    border-bottom: solid 3px var(--color2);
}
header nav>ul>li:nth-of-type(even)>ul:after {
    transform-origin: top left;
    -moz-transform: skew(0deg, 2deg);
    -webkit-transform: skew(0deg, 2deg);
    -o-transform: skew(0deg, 2deg);
    -ms-transform: skew(0deg, 2deg);
    transform: skew(0deg, 2deg);
    transition: var(--transition);
}
header nav>ul>li:nth-of-type(odd):hover>ul:after {
    transform-origin: top right;
    -moz-transform: skew(0deg, -2deg);
    -webkit-transform: skew(0deg, -2deg);
    -o-transform: skew(0deg, -2deg);
    -ms-transform: skew(0deg, -2deg);
    transform: skew(0deg, -2deg);
    transition: var(--transition);
} */

header .cart-toggler {
    position: relative;
}

#cart-token {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    background-color: var(--color2);
}

/* 


header nav{
    flex-basis:var(--headerNavFlexBasis);

}
header>ul {
    display: flex;
    gap: var(--mainpadding);
   
}

header>ul>li>a>.fa {
    font-size: 1.3em;
}

header a,
header nav>ul a {
    color: #fff;
    background-color: var(--color1);
}

header nav>ul {
    display: flex;
    justify-content: center;
    flex-direction: var(--headerNavDirection);
}

header nav>ul a {
    text-decoration: none;
    padding: calc(var(--mainpadding) / 2) var(--mainpadding);
    display: block;
}

header nav>ul>li>ul {
    display: var(--subnavDisplay);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: var(--subnavPosition);
    background-color: var(--color1);
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 0 0 var(--mainpadding) 0;
    margin-top: var(--subnavBaseMarginTop);
    z-index:-1 ;
    transition:var(--transition);
    opacity: 0;
}

header nav>ul>li:hover>ul {
    margin-top: var(--subnavActiveMarginTop);
    transition:var(--transition);
    opacity: 1;
}

header nav>ul>li>ul>li {
    opacity: 0;
    transition: all ease-out .1s;
}

header nav>ul>li:hover>ul>li {
    opacity: 1;
    transition: all ease-out .5s;
    transition-delay: .2s;
}





 */