:root{
    /* Breakpoints */
    --mediumBreakpoint :800px;
    --largeBreakpoint :1200px;

    /* UI colors */
        /* Hues */
    --validHue : 120;
    --errorHue : 0;
    --infoHue : 240;
    --dangerHue : 41;
    /* colors */
    --validColor : hsl(var(--validHue), 62%, 23%);
    --errorColor : hsl(var(--errorHue), 62%, 23%);
    --infoColor : hsl(var(--infoHue), 62%, 23%);
    --dangerColor : hsl(var(--dangerHue), 80%, 37%);
    /* Light colors */
    --validColorLight : hsl(var(--validHue), 62%, 60%);
    --errorColorLight : hsl(var(--errorHue), 62%, 60%);
    --infoColorLight : hsl(var(--infoHue), 62%, 60%);
    --dangerColorLight : hsl(var(--dangerHue), 80%, 97%);

    /* Theme variables */
    --mainradius : 3px;

    /* Animation variables */
    --animation-duration: .3s;

}
*{
    box-sizing: border-box;
}
section:not(.noflex), div:not(.noflex), main:not(.noflex){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    
}
section:not(.noflex) > *:not(.strict), div:not(.noflex) > *:not(.strict), main:not(.noflex) > *:not(.strict){
    flex-grow: 2;

    container-type: inline-size;
    /* flex-basis: 100%; */
}
.flexcol, article, form{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
h1, h2, h3, h4, h5, h6{flex-basis:100%;}
*.flexcol > *{flex-basis:auto}

@media (max-width:calc(800px - 1px)){
    .shidden{display:none;}
    .s3{flex-basis:calc((100% / 12) * 3 - var(--mainpadding))}
    .s4{flex-basis:calc((100% / 12) * 4 - var(--mainpadding))}
    .s5{flex-basis:calc((100% / 12) * 5 - var(--mainpadding))}
    .s6{flex-basis:calc((100% / 12) * 6 - var(--mainpadding))}
    .s8{flex-basis:calc((100% / 12) * 8 - var(--mainpadding))}
    .s9{flex-basis:calc((100% / 12) * 9 - var(--mainpadding))}
    .s10{flex-basis:calc((100% / 12) * 10 - var(--mainpadding))}
    .s11{flex-basis:calc((100% / 12) * 11 - var(--mainpadding))}
    .s12{flex-basis:100%}
}
@media (min-width:800px) and (max-width:calc(1200px - 1px)){
    .mhidden{display:none;}
    .m3{flex-basis:calc((100% / 12) * 3 - var(--mainpadding))}
    .m4{flex-basis:calc((100% / 12) * 4 - var(--mainpadding))}
    .m5{flex-basis:calc((100% / 12) * 5 - var(--mainpadding))}
    .m6{flex-basis:calc((100% / 12) * 6 - var(--mainpadding))}
    .m7{flex-basis:calc((100% / 12) * 7 - var(--mainpadding))}
    .m8{flex-basis:calc((100% / 12) * 8 - var(--mainpadding))}
    .m9{flex-basis:calc((100% / 12) * 9 - var(--mainpadding))}
    .m10{flex-basis:calc((100% / 12) * 10 - var(--mainpadding))}
    .m11{flex-basis:calc((100% / 12) * 11 - var(--mainpadding))}
    .m12{flex-basis:calc((100% / 12) * 12 - var(--mainpadding))}
}
@media (min-width:1200px){
    .l2{flex-basis:calc((100% / 12) * 2 - var(--mainpadding))}
    .l3{flex-basis:calc((100% / 12) * 3 - var(--mainpadding))}
    .l4{flex-basis:calc((100% / 12) * 4 - var(--mainpadding))}
    .l5{flex-basis:calc((100% / 12) * 5 - var(--mainpadding))}
    .l6{flex-basis:calc((100% / 12) * 6 - var(--mainpadding))}
    .l8{flex-basis:calc((100% / 12) * 8 - var(--mainpadding))}
    .l9{flex-basis:calc((100% / 12) * 9 - var(--mainpadding))}
    .l10{flex-basis:calc((100% / 12) * 10 - var(--mainpadding))}
    .l11{flex-basis:calc((100% / 12) * 11 - var(--mainpadding))}
    .l12{flex-basis:100%}
}

.gap{gap:var(--mainpadding)}
.pad{padding:var(--mainpadding)}
.padh{padding-left:var(--mainpadding);padding-right:var(--mainpadding);}
.padv{padding-top:var(--mainpadding);padding-bottom:var(--mainpadding);}
@container (min-width: 1200px) {
    .pad > *, .padh > * {
      padding-left:100px;
      padding-right:100px;
    }
  }

.valid{color:var(--validColor)}

button{border:0;}
button:not([disabled="disabled"]){
    cursor: pointer;
}
button.valid{
    color:#fff;
    background-color: var(--validColor);
}
button.special{
    color:#fff;
    background-color: var(--color2);
}
.slate{
    padding:var(--mainpadding);
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius:3px
}
.alert{
    padding:var(--mainpadding);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--mainradius);
}
.alert.valid{
    border-color:var(--validColor);
    background-color:var(--validColorLight);
} 
.alert.danger{
    border-color:var(--dangerColor);
    background-color:var(--dangerColorLight);
} 
.small{
    font-size:.8em;
}
fieldset{
    display:flex;
    flex-direction: column;
    gap: var(--mainpadding);
    text-align:left;
}
/* JS components */
.tabContainer > *.active{
    animation-name:fadeIn;
    animation-duration: var(--animation-duration);
}
.tabContainer >:not(.active){
    display:none;
}
.tabnav:not(.active){
    opacity: .5;
}



/* Animations */
@keyframes fadeIn{
    from {
        opacity:0
    }
    to{
        opacity:1
    }
}