:root{
    /* Breakpoints */
    --mediumBreakpoint :800px;
    --largeBreakpoint :1200px;

    /* UI colors */
        /* Hues */
    --validHue : 120;
    --errorHue : 0;
    --infoHue : 240;
    --dangerHue : 41;
    /* colors */
    --validColor : hsl(var(--validHue), 62%, 23%);
    --errorColor : hsl(var(--errorHue), 62%, 23%);
    --infoColor : hsl(var(--infoHue), 62%, 23%);
    --dangerColor : hsl(var(--dangerHue), 80%, 37%);
    /* Light colors */
    --validColorLight : hsl(var(--validHue), 62%, 60%);
    --errorColorLight : hsl(var(--errorHue), 62%, 60%);
    --infoColorLight : hsl(var(--infoHue), 62%, 60%);
    --dangerColorLight : hsl(var(--dangerHue), 80%, 97%);

    /* Theme variables */
    --mainradius : 3px;

}
*{
    box-sizing: border-box;
}
section:not(.noflex), div:not(.noflex){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section:not(.noflex) > *, div:not(.noflex) > *{
    flex-grow: 2;
    flex-basis: 100%;
}
@media (max-width:calc(var(--mediumBreakpoint) - 1px)){
    .s3{flex-basis:calc((100% / 12) * 3 - var(--mainpadding))}
    .s4{flex-basis:calc((100% / 12) * 4 - var(--mainpadding))}
    .s5{flex-basis:calc((100% / 12) * 5 - var(--mainpadding))}
    .s6{flex-basis:calc((100% / 12) * 6 - var(--mainpadding))}
    .s8{flex-basis:calc((100% / 12) * 8 - var(--mainpadding))}
    .s9{flex-basis:calc((100% / 12) * 9 - var(--mainpadding))}
    .s10{flex-basis:calc((100% / 12) * 10 - var(--mainpadding))}
    .s11{flex-basis:calc((100% / 12) * 11 - var(--mainpadding))}
    .s12{flex-basis:100%}
}
@media (min-width:var(--mediumBreakpoint)) and (max-width:calc(var(--largeBreakpoint) - 1px)){
    .m3{flex-basis:calc((100% / 12) * 3 - var(--mainpadding))}
    .m4{flex-basis:calc((100% / 12) * 4 - var(--mainpadding))}
    .m5{flex-basis:calc((100% / 12) * 5 - var(--mainpadding))}
    .m6{flex-basis:calc((100% / 12) * 6 - var(--mainpadding))}
}
@media (min-width:var(--largeBreakpoint)){
    .l3{flex-basis:calc((100% / 12) * 3 - var(--mainpadding))}
    .l4{flex-basis:calc((100% / 12) * 4 - var(--mainpadding))}
    .l5{flex-basis:calc((100% / 12) * 5 - var(--mainpadding))}
    .l6{flex-basis:calc((100% / 12) * 6 - var(--mainpadding))}
    .l8{flex-basis:calc((100% / 12) * 8 - var(--mainpadding))}
    .l9{flex-basis:calc((100% / 12) * 9 - var(--mainpadding))}
    .l10{flex-basis:calc((100% / 12) * 10 - var(--mainpadding))}
    .l11{flex-basis:calc((100% / 12) * 11 - var(--mainpadding))}
    .l12{flex-basis:100%}
}
.gap{gap:var(--mainpadding)};
.valid{color:var(--validColor)}

button{border:0;}
button:not([disabled="disabled"]){
    cursor: pointer;
}
button.valid{
    color:#fff;
    background-color: var(--validColor);
}
button.special{
    color:#fff;
    background-color: var(--color2);
}
.slate{
    padding:var(--mainpadding);
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius:3px
}
.alert{
    padding:var(--mainpadding);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--mainradius);
}
.alert.valid{
    border-color:var(--validColor);
    background-color:var(--validColorLight);
} 
.alert.danger{
    border-color:var(--dangerColor);
    background-color:var(--dangerColorLight);
} 

/* JS components */
.tabContainer >:not(.active){
    display:none;
}
