fieldset legend {
    font-weight: bold;
    color: var(--color1);
    font-size: 1.2em;
    margin-bottom: var(--mainpadding)
}

fieldset {
    margin-bottom: 50px;
}

body.checkout section:first-of-type {
    box-shadow: 20px 0 18px -20px rgba(0, 0, 0, 0.12);
}

body.checkout main {
    container-type: inline-size;
}