body.home main>section {
    min-height: 600px;
    align-items: center;
}

body.home main section {
    position: relative;
    padding-bottom: 120px;
    overflow: hidden;
}



lottie-player {
    margin: auto;
}