@import url(vars.css);
@import url(baselayout.css);
@import url(header.css);
@import url(components.css);
@import url(responsiveness.css);
@import url(pages_login.css);

main {
    display: grid;
    /* grid-row: var(--categoryMainRow);
    grid-column: var(--categoryMainColumn); */
    /* grid-template-columns: var(--categoryMainColumnTemp); */
}

 aside {
    /* grid-column: var(--categoryAsideWidth);
    grid-row: var(--categoryAsideRow);
    padding: var(--mainpadding); */
    border-right: solid 1px
}
/*
aside>* {
    position: sticky;
    top: 90px;

} */



/* footer ul:not(:last-child) li {
    margin-bottom: var(--mainpadding);
} */




main[aria-label="category"]{
    /* grid-column: var(--categoryMainWidth);
    padding: var(--mainpadding); */
}
*[aria-label="Liste d'articles"] {
    display: grid;
    /* grid-template-columns: var(--articleGrid);
    gap: var(--mainpadding); */
}
.category section[aria-label="Liste d'articles"] {
    padding:calc(var(--mainpadding) * 2) var(--mainpadding);
    gap:var(--mainpadding);
}
*[aria-label="Liste d'articles"] article {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 100px;
    /* align-items: center; */
}
*[aria-label="Liste d'articles"] article figure{
    grid-column: 1/-1;
}
*[aria-label="Liste d'articles"] article figure img {
    margin: auto;
    display: block;
}
[aria-label="Liste d'articles"] article > span:has(i){
    justify-self: center;
    align-self: center;
}
[aria-label="Liste d'articles"] article > span:has(i.fa-check){
    color:green;
}
*[aria-label="Liste d'articles"] article>div:first-of-type{
    grid-column: 1/-1;
    /* display:grid; */
}
*[aria-label="Liste d'articles"] article>div:first-of-type,
*[aria-label="Liste d'articles"] article>div:first-of-type p {
    /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
*[aria-label="Liste d'articles"] article > span:last-child{
    align-self: center;
    text-align:center;
}
main nav {
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    grid-template-rows: 5px 50px 5px;
    align-items: center;
    grid-column: 1/-1;
    justify-items: center;

}

main nav>ul {
    grid-row: 2;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}
.category main nav > select{
    grid-row: 2;
    grid-column: 4;
}
.category main nav > div{
    grid-row: 2;
    grid-column: 5;
}
main nav:first-of-type:after {
    content: " ";
    display: block;
    border-bottom: solid 1px var(--color1);
    grid-column: 2 / 4;
    grid-row: 4;
}

main nav:last-of-type:before {
    content: " ";
    display: block;
    border-bottom: solid 1px var(--color1);
    grid-column: 2 / 4;
    grid-row: 1;
}

input[type="text"],
input[type="number"],
textarea {
    border: outset solid 2px var(--dark);
    padding: calc(var(--mainpadding) / 3);
    background-color: #ddd;
}

label[for="search"] {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* PRODUCT PAGE */
main[label="Produt-page"] {
    grid-template-columns: 1fr 1fr 1fr;
}

main[label="Produt-page"]>figure {
    grid-column: 1;
}
section[label="Product overview"] ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
section[label="Product overview"] ul button{
    aspect-ratio: 1/1;
    border-radius: 50%;
    border:0;
    font-size:1.5em;
    padding:calc(var(--mainpadding) / 3);
    line-height: 0.5;
    text-align: center;
    color: var(--dark);
}
section[label="purchase form"] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: calc(var(--mainpadding) * 2);
}
section[label="purchase form"] span[itemprop="price"]{
    font-size:2em;
    padding:var(--mainpadding) 0;
}
main[label="Produt-page"]>section:first-of-type {
    grid-column: 2 / 3;
}

main[label="Produt-page"]>section:nth-of-type(2) {
    grid-column: 3 / 4;
}

main[label="Produt-page"] section:has(h1) {
    display: grid;
}

section[aria-label="Product details"] {
    display: grid;
    grid-template-columns: 200px auto;
    gap: var(--mainpadding);


}

section[aria-label="Product details"] aside {
    grid-column: 1/2;
    grid-row: 1 / 6;
}

section[aria-label="Product details"] aside nav {
    border: 0;
}

section[aria-label="Product details"] aside ul {
    display: flex;
    flex-direction: column;


}

section[aria-label="Product details"]>section {
    grid-column: 2/3;
    padding-bottom: calc(var(--mainpadding) * 3);
    padding-top: var(--mainpadding);
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) calc(100% - var(--mainpadding)), rgba(238, 238, 238, .3) 100%);
}

section[aria-label="Product details"]>section>* {
    max-width: 1000px;
    margin: auto
}

section[aria-labelledby="technicaldata"] dl {
    display: flex;
    columns: 2;
    flex-wrap: wrap;
    gap: var(--mainpadding)
}

section[aria-labelledby="technicaldata"] dl>* {
    flex-basis: calc(50% - var(--mainpadding));
}

section[aria-labelledby="technicaldata"] dd {
    font-weight: bold;
    ;
}
/* body main[aria-label="category"]{
    grid-column: var(--categoryMainWidth);
} */
/* CHECKOUT */
body:has(main[label="Checkout"]) {
    display: grid;
    grid-template-rows: auto;
}

main[label="Checkout"] {
    grid-template-columns: 1fr;
}

main[label="Checkout"] form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    grid-template-rows: 100px auto;
    gap: var(--mainpadding);
    padding: 0;
    /* min-height:80vh; */
}

main[label="Checkout"] form>section {
    grid-column: 1/4;
    grid-row: 1/2;
    /* background-color:red; */
}

main[label="Checkout"] form>fieldset {
    display: grid;
}

main[label="Checkout"] form>fieldset:has(input[type="password"]) {
    padding-left: var(--mainpadding);
    padding-right: var(--mainpadding);
}

main[label="Checkout"] form>fieldset:has(input:checked) legend {
    color: green;
}

main[label="Checkout"]>form>section:last-of-type {
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: #eee;
    padding: var(--mainpadding) calc(var(--mainpadding) / 2);
}

/* main[label="Checkout"] h1{
    grid-column: 1/2;
} */
main[label="Checkout"] fieldset legend {
    padding-bottom: var(--mainpadding);
}

main[label="Checkout"] fieldset:has(input[ type="radio"]) {
    display: grid;
    padding-bottom: calc(var(--mainpadding) * 2);
}

main[label="Checkout"] fieldset:has(input[ type="radio"]) label {
    padding: 10px var(--mainpadding);
    background-color: #fff;
    transition: var(--transition);
}

main[label="Checkout"] fieldset:has(input[ type="radio"]) label:hover {
    background-color: #eee;
    cursor: pointer;
    transition: var(--transition);
}

/* Homepage */
main[aria-label="Page d'accueil"] {
    grid-column: var(--fullline);
}

main[aria-label="Page d'accueil"]>* {
    grid-column: 1/7;
}

main[aria-label="Page d'accueil"] section[aria-labelledby="h1"] {
    background-color: var(--color4);
    background-image: url(../img/office-background.jpg);
    background-size: cover;
    background-position: center right;
    min-height:50vh;
    text-align:right;
    display:grid;
    grid-template-columns: auto 500px;
    align-items: center;

}
main[aria-label="Page d'accueil"] section[aria-labelledby="h1"]::before{
    content:" ";
    background-image: url(../img/javanese-scriptography.png);
    background-size: contain;
    height:80%;
    background-repeat:no-repeat;
    background-position: center;
}
main[aria-label="Page d'accueil"] h1{
    backdrop-filter: blur(5px);
    background-color:rgba(255,255,255,.6);
    padding:var(--mainpadding);
    grid-column: 2/3;
    line-height: 1.3;
}
main[aria-label="Page d'accueil"] section[aria-labelledby="h2-1"]{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: var(--mainpadding);
}
main[aria-label="Page d'accueil"] section h2{
 grid-column: var(--fullline);
}
main[aria-label="Page d'accueil"] section[aria-labelledby="h2-1"] article{
    background-color: #454545;
    color:#fff;
    padding: var(--mainpadding);
}
main[aria-label="Page d'accueil"] section[aria-labelledby="h2-1"] article h3{
    color:var(--color2);
}
main[aria-label="Page d'accueil"] section[aria-labelledby="h2-1"] article h3:after{
    content: "";
    width: 100%;
    border-bottom: solid 1px var(--dark);
    display: block;
    margin-top: calc(var(--mainpadding) / 2);
}
main[aria-label="Page d'accueil"] section{
    position:relative;
    padding-bottom: 120px;
    overflow: hidden;
}
main[aria-label="Page d'accueil"] > section:not(:last-of-type):after{
    display: block;
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 87px;
    transform: skewY(2deg);
    transform-origin: left;
    -webkit-box-shadow: 0px -18px 18px 0px rgba(0,0,0,0.12);
-moz-box-shadow: 0px -18px 18px 0px rgba(0,0,0,0.12);
box-shadow: 0px -18px 18px 0px rgba(0,0,0,0.12);
}
main[aria-label="Page d'accueil"] > section:nth-of-type(even):after{
    transform: skewY(-2deg);
    transform-origin: right;
}