@import url(vars.css);
@import url(baselayout.css);
@import url(theme.css);
@import url(header.css);
@import url(components.css);
@import url(nano-components.css);
@import url(responsiveness.css);
@import url(pages_login.css);
@import url(pages_home.css);
@import url(pages_checkout.css);
@import url(pages_category.css);
@import url(pages_product.css);
@import url(sliders.css);



aside {
    border-right: solid 1px;
}





.category section[aria-label="Liste d'articles"] {
    padding: calc(var(--mainpadding) * 2) var(--mainpadding);
    gap: var(--mainpadding);
}

/* *[aria-label="Liste d'articles"] article {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 100px;

} */
/* 
*[aria-label="Liste d'articles"] article figure {
    grid-column: 1/-1;
}

*[aria-label="Liste d'articles"] article figure img {
    margin: auto;
    display: block;
}

[aria-label="Liste d'articles"] article>span:has(i) {
    justify-self: center;
    align-self: center;
}

[aria-label="Liste d'articles"] article>span:has(i.fa-check) {
    color: green;
}

*[aria-label="Liste d'articles"] article>div:first-of-type {
    grid-column: 1/-1;

} */

/* *[aria-label="Liste d'articles"] article>div:first-of-type,
*[aria-label="Liste d'articles"] article>div:first-of-type p {

} */

/* *[aria-label="Liste d'articles"] article>span:last-child {
    align-self: center;
    text-align: center;
} */

/* main nav {
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    grid-template-rows: 5px 50px 5px;
    align-items: center;
    grid-column: 1/-1;
    justify-items: center;

} */

/* main nav>ul {
    grid-row: 2;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}
.category main nav > select{
    grid-row: 2;
    grid-column: 4;
} */
/* .category main nav > div{
    grid-row: 2;
    grid-column: 5;
}
main nav:first-of-type:after {
    content: " ";
    display: block;
    border-bottom: solid 1px var(--color1);
    grid-column: 2 / 4;
    grid-row: 4;
}

main nav:last-of-type:before {
    content: " ";
    display: block;
    border-bottom: solid 1px var(--color1);
    grid-column: 2 / 4;
    grid-row: 1;
} */


label[for="search"] {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

/* PRODUCT PAGE */
body.product form[action="/cart"] {
    height: 50px;
    justify-content: flex-end;
}

/* body.product form[action="/cart"] input[name="product-qty"]{

} */
form.add-to-cart input[name="quantity"] {
    width: 50px;
    flex-grow: 0;
}

section[label="Product overview"] ul button {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0;
    font-size: 1.5em;
    padding: calc(var(--mainpadding) / 3);
    line-height: 0.5;
    text-align: center;
    color: var(--dark);
}

section[label="purchase form"] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: calc(var(--mainpadding) * 2);
}

section[label="purchase form"] span[itemprop="price"] {
    font-size: 2em;
    padding: var(--mainpadding) 0;
}

main[label="Produt-page"]>section:first-of-type {
    grid-column: 2 / 3;
}

main[label="Produt-page"]>section:nth-of-type(2) {
    grid-column: 3 / 4;
}

main[label="Produt-page"] section:has(h1) {
    display: grid;
}

/* section[aria-label="Product details"] {
    display: grid;
    grid-template-columns: 200px auto;
    gap: var(--mainpadding);


} */

section[aria-label="Product details"] aside {
    grid-column: 1/2;
    grid-row: 1 / 6;
}

section[aria-label="Product details"] aside nav {
    border: 0;
}

section[aria-label="Product details"] aside ul {
    display: flex;
    flex-direction: column;


}

section[aria-label="Product details"]>section {
    grid-column: 2/3;
    padding-bottom: calc(var(--mainpadding) * 3);
    padding-top: var(--mainpadding);
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) calc(100% - var(--mainpadding)), rgba(238, 238, 238, .3) 100%);
}

section[aria-label="Product details"]>section>* {
    max-width: 1000px;
    margin: auto
}

section[aria-labelledby="technicaldata"] dl {
    display: flex;
    columns: 2;
    flex-wrap: wrap;
    gap: var(--mainpadding)
}

section[aria-labelledby="technicaldata"] dl>* {
    flex-basis: calc(50% - var(--mainpadding));
}

section[aria-labelledby="technicaldata"] dd {
    font-weight: bold;
    ;
}

/* body main[aria-label="category"]{
    grid-column: var(--categoryMainWidth);
} */
/* CHECKOUT */
body.checkout form[action="/place-order"] {
    flex-direction: row;
}

/* Homepage */
main[aria-label="Page d'accueil"] {
    grid-column: var(--fullline);
}

main[aria-label="Page d'accueil"]>* {
    grid-column: 1/7;
}

main[aria-label="Page d'accueil"] section[aria-labelledby="h1"] {
    background-color: var(--color4);
    background-image: url(../img/office-background.jpg);
    background-size: cover;
    background-position: center right;
    min-height: 50vh;
    text-align: right;
    display: grid;
    grid-template-columns: auto 500px;
    align-items: center;

}

main[aria-label="Page d'accueil"] section[aria-labelledby="h1"]::before {
    content: " ";
    background-image: url(../img/javanese-scriptography.png);
    background-size: contain;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

main[aria-label="Page d'accueil"] h1 {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .6);
    padding: var(--mainpadding);
    grid-column: 2/3;
    line-height: 1.3;
}

main[aria-label="Page d'accueil"] section[aria-labelledby="h2-1"] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--mainpadding);
}

main[aria-label="Page d'accueil"] section h2 {
    grid-column: var(--fullline);
}

main[aria-label="Page d'accueil"] section[aria-labelledby="h2-1"] article {
    background-color: #454545;
    color: #fff;
    padding: var(--mainpadding);
}

body.home main section article h3 {
    color: var(--color2);
}

body.home main .sectionarticle h3:after {
    content: "";
    width: 100%;
    border-bottom: solid 1px var(--dark);
    display: block;
    margin-top: calc(var(--mainpadding) / 2);
}


#anchor-nav {
    position: sticky;
    top: 50px;
    display: flex;
    flex-direction: column;
}

#anchor-nav li {
    display: block;
}

#anchor-nav li a {
    background-color: var(--color1);
    color: #fff;
    padding: 10px;
    display: block;

}

#anchor-nav li a.active {
    background-color: var(--color2);
    color: #000;


}

#product-detail>section {
    padding-bottom: 100px;
    min-height: 80vh
}

.slick-1234 {
    display: block;
}

.slick-1234 .slick-slide {
    padding: var(--mainpadding);
}

/* div.slick-track,
div.slick-list {
    display: block;
} */

.slick-slide {
    margin: 0 var(--mainpadding);
}

#homeslider {
    height: 500px;
    background-color: var(--color2);
}



.rassurance li {
    margin-bottom: var(--mainpadding);
    display: flex;
}

.rassurance .fa {
    color: var(--color2);
    margin-right: var(--mainpadding);
    font-size: 1.2rem;
}