<header>
    <a href="/admin/logout"><i class="fa fa-user"></i></a>
    <nav>
        <ul>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/customers">Orders</a></li>
        </ul>
    </nav>
</header>