<%- include ('partials/header.ejs') %> 

<main>
    <section>
        <h1><%= locals.category.name %></h1>
        <h2>SEO subtitle</h2>

        <p><em>SEO content</em> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione laboriosam doloribus placeat sunt, minus totam cum reiciendis aliquid. Voluptatum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, aspernatur error nisi ad tempora reprehenderit aliquid, repellendus ratione quos repellat dolores fuga rerum tempore inventore quas. Aspernatur officia adipisci at.</p>
    </section>
    <nav>
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Minima, temporibus.</li>
            <li>Natus, cum.</li>
            <li>Eius, aperiam.</li>
        </ul>
        <select name="sortorder" id="sortorder">
            <option value="" disabled selected>Sort order</option>
            <option value="">Lorem, ipsum.</option>
            <option value="">Sit, voluptatum.</option>
            <option value="">Ipsum, ea.</option>
            <option value="">Minus, suscipit!</option>
            <option value="">Enim, sit.</option>
        </select>
        <div>
            <button><i class="fa-solid fa-list"></i></button>
            <button><i class="fa-solid fa-list"></i></button>
        </div>
    </nav>
    <section aria-label="Liste d'articles" role="region">
<% locals.products.forEach((product) => { %>
<%- include ('partials/miniatures/product.ejs', {product : product }) %>
<% }) %>
</section>
</main>
<aside>lef column</aside>
<%- include ('partials/footer.ejs') %>  