<%- include ('partials/header.ejs') %>
    <main label="Checkout">
        <div class="tabPanel">
            <nav>
                <ul>
                    <li><button>1</button></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                </ul>
            </nav>
            <div aria-label="Your account" aria-hidden="false">Account</div>
            <div aria-label="Sign in" aria-hidden="true">Sign in</div>
            <div aria-label="Sign up" aria-hidden="true">Sign Up</div>
        </div>

        <form action="">
            <section>
                <div>
                    <a href="index.html" title="Retour accueil"><img src="assets/img/logo-gridcommerce-light.svg"
                            alt="Grid Commerce logo" width="50" height="50"></a>

                </div>
                <h1>Place order</h1>

            </section>
            <fieldset>
                <legend>User acount</legend>
                <label for="email">email
                    <input type="email" name="email" id="email"></label>
                <label for="password">password
                    <input type="password" name="password" id="password"></label>
                <button>Login</button>
                <a href="#">Create acount</a>
                <a href="#">Forgot password ?</a>
                <a href="category.html" title="Resume shopping">Resume shopping</a>
            </fieldset>

            <fieldset>
                <legend>Select a shipping method</legend>
                <label for="fedex">
                    <input type="radio" id="fedex" name="carrier" value="fedex" />
                    FedEx</label>
                <label for="DHL">
                    <input type="radio" id="DHL" name="carrier" value="DHL" />
                    DHL</label>
                <label for="store">
                    <input type="radio" id="store" name="carrier" value="store" />
                    Store pickup</label>
            </fieldset>
            <fieldset>
                <legend>Select a payment method</legend>
                <label for="credtircard">
                    <input type="radio" id="credtircard" name="payment-method" value="credtircard" />
                    Credit card</label>
                <label for="paypal">
                    <input type="radio" id="paypal" name="payment-method" value="paypal" />
                    Paypal</label>
                <label for="cash">
                    <input type="radio" id="cash" name="payment-method" value="cash" />
                    Cash in store</label>
            </fieldset>

            <section>
                <fieldset>
                    <legend>Your cart (X items)</legend>
                    <table>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </fieldset>
                <input type="number" name="" id="">
                <fieldset>
                    <legend>Terms & conditions</legend>

                    <label for="termsandconditions">
                        <input type="checkbox" id="termsandconditions" name="termsandconditions" required />
                        I accept the store <a href="#" title="See terms and conditions">terms and conditions</a>
                        *</label>

                </fieldset>
                <button>Place order</button>
            </section>
        </form>
    <%- include ('partials/footer.ejs') %>