<%- include ('partials/header.ejs') %> 
<main aria-label="Page d'accueil"]>
    <section>
       
I am a homepage

    </section>
    <section>
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In pariatur fugit, nemo rerum accusamus commodi? Tempore quae ipsa magnam ipsum, sapiente earum officia soluta aut molestiae recusandae dolor, impedit omnis.</p>
    </section>

<%- include ('partials/footer.ejs') %> 