<%- include ('partials/header.ejs') %> 
<main aria-label="Page d'accueil"]>
    <section>Slider</section>
    <section>
        <div>
            <h3>product</h3>
        </div>
        <div>
            <h3>product</h3>
        </div>
        <div>
            <h3>product</h3>
        </div>
        <div>
            <h3>product</h3>
        </div>
    </section>
    <section>
        info + rassurrance
    </section>
    <section>
        <div>
            <p>Lorem, ipsum dolor.</p>
        </div>
        <div>
            <p>Dolorum, delectus possimus.</p>
        </div>
        <div>
            <p>Est, minus asperiores.</p>
        </div>
    </section>
    <section>
        info + rassurrance
    </section>
    <section>
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In pariatur fugit, nemo rerum accusamus commodi? Tempore quae ipsa magnam ipsum, sapiente earum officia soluta aut molestiae recusandae dolor, impedit omnis.</p>
    </section>

<%- include ('partials/footer.ejs') %> 