<%- include ('partials/header.ejs') %> 
<main>
    <section id = "homeslider" class="slick-1">
        <div>
            <h1>Welcome to Grid Commerce</h1>
            <button class="special">Call to action</button>
        </div>
        <div><h2>Promotions</h2>
        <button class="special">Call to action</button></div>
        <div><h2>Slide</h2>
        <button class="special">Call to action</button></div>
    </section>
    <section class="slick-1234 noflex">
        <% locals.homeproducts.forEach(product => { %>
        <%- include('./partials/miniatures/product-slide.ejs',{product}) %> 
        <% }) %>
        
    </section>
    <section class="padh">
        <div class="l8 m6 l12">
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum iusto similique ratione.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magni quos numquam optio cupiditate!</p>
        </div>
        <div class="l4 m6 l12"><%- include('partials/rassurance') %></div>
    </section>
    <section class="padh">
        <div>
            <p>Lorem, ipsum dolor.</p>
        </div>
        <div>
            <p>Dolorum, delectus possimus.</p>
        </div>
        <div>
            <p>Est, minus asperiores.</p>
        </div>
    </section>
    <section class="padh">
        info + rassurrance
    </section>
    <section class="padh">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In pariatur fugit, nemo rerum accusamus commodi? Tempore quae ipsa magnam ipsum, sapiente earum officia soluta aut molestiae recusandae dolor, impedit omnis.</p>
    </section>

<%- include ('partials/footer.ejs') %> 